/logs/
/data_file/
.idea
/a100_logs/
/runs/
/test/
/.env
/server_runs/
v100_runs/
*.pyc
*.pth
/tuning_script.sh
/test.sh
/runs_*/
/ds_config_dev.json
/huggingface_model/
/huggingface_model_cache/
/ds_config_test.json
/pt_ckpt/
/public_ckpt.zip
/llama2-13b-PT.zip
/MAIN_TABLE_RESULTS.xlsx
/train.sh
/spt-public.zip
*.zip
/env_template
